In [28]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('C:\\Users\\vikas\\OneDrive\\Desktop\\Iota Notes\\Raw Sales Data.csv')

In [30]:
df

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,"1,116","4,28,700"
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,"3,003","13,74,831"
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,"2,962","7,32,167"
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,"1,004","3,77,100"
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,"1,52,287"
...,...,...,...,...,...,...,...
219,01-Mar-21,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509,"1,65,426"
220,01-Mar-21,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542,"2,48,830"
221,01-Mar-21,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645,"1,40,907"
222,01-Mar-21,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,"1,242","4,36,043"
223,01-Mar-21,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971,"5,82,600"

# 1. Monthwise number of quantities sold

In [31]:
df['Month'] = pd.to_datetime(df['Month'])

In [32]:
df['Month'] = df['Month'].dt.strftime('%B')

In [33]:
df['Qty']=df['Qty'].apply(lambda x: x.replace(",",""))

In [34]:
df['Qty'] = df['Qty'].astype('int64')

In [35]:
df1 = df.groupby('Month')['Qty'].sum()

In [36]:
df1

Month
December    85427
February    76393
January     67732
March       80229
Name: Qty, dtype: int64

In [37]:
df.dtypes

Month           object
Channel         object
Sub-Channels    object
Product Name    object
Category        object
Qty              int64
Sales           object
dtype: object

# 2. Category wise Qty sold

In [10]:
df2 = df.groupby('Category')['Qty'].sum()

In [11]:
df2

Category
Functional nutrition     42354
Gourmet Nutrition        89279
Juices                  178148
Name: Qty, dtype: int64

# 3. Sub-channel wise total sales

In [12]:
df['Sales'] = df['Sales'].apply(lambda x: x.replace(",",""))

In [13]:
df['Sales'] = df['Sales'].astype('int64')

In [14]:
df3 = df.groupby('Sub-Channels')['Sales'].sum()

In [15]:
df3

Sub-Channels
AMAZON               35606804
Big Basket            1207522
D2C                  28047538
Flipkart              3770415
GOQII                  582600
Offline - Central      375332
Offline - East         811146
Offline - MT          6257948
Offline - South       3446395
Offline - West        6441427
Offline -North        1206564
Name: Sales, dtype: int64

# 4. Highest sale in which month

In [16]:
df4 = df.groupby('Month')['Sales'].max().nlargest(1)

In [17]:
df4

Month
March    4390500
Name: Sales, dtype: int64

# 5. Highest selling product (based on sales) (packaging quantity doesn't matter. Ex. consider "GET SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [18]:
df['Product Name']=df['Product Name'].str.replace('\d+','')
df['Product Name']=df['Product Name'].apply(lambda x: x.replace("L",""))
df5 = df.groupby('Product Name')['Sales'].sum().nlargest(1)

C:\Users\vikas\AppData\Local\Temp\ipykernel_5388\1893461074.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Product Name']=df['Product Name'].str.replace('\d+','')

In [19]:
df5

Product Name
AOE + GARCINIA JUICE      12249252
Name: Sales, dtype: int64

# 6. List of different products company is offering (packaging quantity doesn't matter. Ex. consider "GET SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [20]:
df['Product Name'] = df['Product Name'].str.split('\d').str[-1].str.strip()

In [21]:
df6 = pd.DataFrame(df['Product Name'].unique()).rename(columns={0:'Product Name'})

In [22]:
df6

                                   Product Name
0                               AOE + AMA JUICE
1                          AOE + GARCINIA JUICE
2                                AOE VERA JUICE
3                          AOE VERA SKIN GE  GM
4                                    NEEM JUICE
5                                    NONI JUICE
6                      SIM SHAKE - CHOCOATE  GM
7                         SIM SHAKE - MANGO  GM
8                                 TRIPHAA JUICE
9                               TUSI GIOY JUICE
10                            WHEAT GRASS JUICE
11                                    AMA JUICE
12                                GET SIM JUICE
13                             HIMAAYA OI  GRMS
14                              VIGOR MAX JUICE
15                ORGANIC JAGGERY POWDER  GRAMS
16                     APPE CIDER VINEGAR grams
17                         VIRGIN COCONUT OI  M
18                            KAREA JAMUN JUICE
19    MASAA SUPERGRAIN MIX ENERGY  GM ( OFFINE)
20  MASAA SUPERGRAIN MIX IMMUNITY  GM ( OFFINE)
21                             AMA + GIOY JUICE
22                               DIA FREE JUICE
23                            IMMUNE CARE JUICE
24            MASAA SUPERGRAIN MIX IMMUNITY  GM
25                         ORGANIC GUKAND grams
26                 VEGAN PROTEIN - CHOCOATE  KG
27                        GET SIM CAPSUES  CAPS
28                    RAW HONEY ( MADHU)  GRAMS

# 7. Create a single excel file to save all the outputs generated above in different subsheets. Email final output file and your python code (.ipynb) file to ranotiyahemant@gmail.com

In [23]:
import pandas as pd

In [153]:
d1 = pd.DataFrame(df1)
d2 = pd.DataFrame(df2)
d3 = pd.DataFrame(df3)
d4 = pd.DataFrame(df4)
d5 = pd.DataFrame(df5)
d6 = pd.DataFrame(df6)

path = 'C:\\Users\\vikas\\OneDrive\\Desktop\\Iota Notes\\FMCG_Analysis.xlsx'

with pd.ExcelWriter(path) as engine:
    
    
    
    d1.to_excel(excel_writer=engine, sheet_name='Monthwise')
    d2.to_excel(excel_writer=engine, sheet_name='Category')
    d3.to_excel(excel_writer=engine, sheet_name='Sub_channel')
    d4.to_excel(excel_writer=engine, sheet_name='Highest_sale')
    d5.to_excel(excel_writer=engine, sheet_name='Selling_product')
    d6.to_excel(excel_writer=engine, sheet_name='List_of_different')